In [15]:
#import dependencies for csv and pandas df
import pandas as pd
csv_data = "../Resources/Final_Obesity_Covid.csv"
OCovid_df = pd.read_csv(csv_data)
R = OCovid_df.set_index('St')
R.head()

            population  Covid_Deaths  Per_Deaths  Per_Obesity
St
Alaska          731545          1457    0.001992         29.8
Alabama        4903185         21138    0.004311         35.6
Arkansas       3017804         13062    0.004328         34.5
Arizona        7278717         29852    0.004101         28.4
California    39512223        102356    0.002590         24.2

In [16]:
#import all dependencies for Sqlalchemy
from sqlalchemy import create_engine
import sqlite3

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean



# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

engine = create_engine('sqlite://', echo=False)

In [17]:
conn = sqlite3.connect('../Resources/Final_Obesity_Covid.sqlite')
R.to_sql('covid', conn, if_exists='replace', index=True)

51